<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logofin.png" width="50px" height="120px">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>

      <a class="navbar-item" routerLink="/about">
        About
      </a>

      <a class="navbar-item" routerLink="/projects">
        Projects
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-rounded is-info" href="https://www.linkedin.com/in/abhay-saxena/">
            Linkedin <br> <img src="../../assets/linkedin_logo.png">
          </a>
          <a class="button is-rounded" href="https://www.github.com/abhaysaxenaa">
            Github <img src="../../assets/github.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>