<section class="hero is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-variable is-6">
            <div class="column">
              <h1 class = "title">About Me.</h1> <hr>
              <p>Hey there! My name is Abhay Saxena and I am aspiring to become a full-time Software Engineer or a Web Developer at one of my dream companies.</p>
              <br>
              <h2>Having a natural inclination towards Computer Science ever since childhood, I love to tackle challenging problems, while also finding ways to constantly improve user experience for various products.</h2>
              <br>
              <h2>As a part of my creative pursuits, I like working on things such as buidling websites with amazing UI's (like this) and also developing software to assist me with my daily functionality. I upload most of my creation on Github, so feel free to check out my <a routerLink="/projects">Projects</a>!</h2>
              <br>
              <h2>My hobbies include: Piano, Beatboxing, Soccer, Tennis, Running.</h2>
              <br> <br>
              <h5>Education</h5>
              <br>
              <div class = "card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="../../assets/rutgers.png">
                            </figure>
                        </div>
                        <div class="media-content">
                            <h3>Rutgers University - New Brunswick</h3>
                            <h4>Bachelor of Science in Computer Science</h4>
                            <h4>Cumulative GPA: 3.55/4.00 | Honors: Dean's List (3 Semesters)</h4>
                          </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="column">
              <br>
              <h5>Technical Skills:</h5>
              <br>
              <h6>Python</h6>
              <progress class="progress is-danger is-small" value="65" max="100"></progress>
              <h6>Java</h6>
              <progress class="progress is-danger is-small" value="100" max="100"></progress>
              <h6>C/C++</h6>
              <progress class="progress is-danger is-small" value="75" max="100"></progress>
              <h6>Javascript</h6>
              <progress class="progress is-danger is-small" value="60" max="100"></progress>
              <h6>HTML &  CSS</h6>
              <progress class="progress is-danger is-small" value="85" max="100"></progress>
              <br><br>
              <h5>Other Tools:</h5><br>
              <div class = "columns">
                <div class = "column">
                  <h6 style="font-size: 22px;">Frameworks:</h6><hr style="margin: 12px;">
                  <ul>
                    <li><h6>• Angular10</h6></li>
                    <li><h6>• NodeJS</h6></li>
                    <li><h6>• Express</h6></li>
                  </ul>
                </div>
                <div class = "column">
                  <h6 style="font-size: 22px;">Data:</h6><hr style="margin: 12px;">
                  <ul>
                    <li><h6>• MongoDB</h6></li>
                    <li><h6>• MATLAB</h6></li>
                    <li><h6>• Microsoft Office</h6></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <h5 style="text-align: center;">Quick Links:</h5>
            <nav class="breadcrumb has-bullet-separator is-centered" aria-label="breadcrumbs">
                <ul>
                  <li><a href="#" routerLink="/">Home</a></li>
                  <li><a href="#" routerLink="/projects">Projects</a></li>
                  <li><a href="../../../../Resume/Resume/AbhaySaxenaResume.pdf" download>Resume</a></li>
                </ul>
            </nav>
            <br><br>
  </section>