<section class="hero is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> My Projects.</h1><hr>
            <br>
            <div class="columns">
                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/voice.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <h1>Voice Assistant</h1><hr style="margin: 5px;">
                            <h2>Python, Selenium, pyttsx3, API's ==> <a href="https://github.com/abhaysaxenaa?tab=repositories">Github</a></h2>
                            <br>
                            <h4>Created a powerful <strong>Voice Assistant</strong> that provides assistance
                                over a variety of tasks, such as <a href="https://developers.google.com/calendar/quickstart/python">personal event management</a>, providing
                                intelligent machine-learning decisions, <a href="https://pyowm.readthedocs.io/en/latest/">forecasting weather</a>, etc.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/budget.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <h1>Budget Tracker</h1><hr style="margin: 5px;">
                            <h2>Angular, Javascript, HTML5, CSS, Bulma  ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Created and deployed an elegant web app called the <strong>'Budget Tracker'</strong>, which calculates the total budget credit/debit, modelled around the user's revenue and expenses.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/tic-tac-toe.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <h1>Tic-Tac-Toe</h1><hr style="margin: 5px;">
                            <h2>Angular, Javascript, HTML5, CSS, Bulma ==> <a href="https://github.com/abhaysaxenaa/TicTacToe">Github</a></h2>
                            <br>
                            <h4>Built a simple <strong>Tic-Tac-Toe</strong> game compatible with devices such as laptops, mobiles, tablets, which allows for a smooth and enjoyable gameplay while also respecting player interaction.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr><br>
            <h5>Additional Projects:</h5>
            <nav class="breadcrumb has-bullet-separator is-centered" aria-label="breadcrumbs">
                <ul>
                  <li><a href="https://github.com/abhaysaxenaa/Cache-Simulator" style="font-weight: 500;">Cache Simulator</a></li>
                  <li><a href="https://github.com/abhaysaxenaa/ML-Price-Calculator" style="font-weight: 500;">ML Price Calculator</a></li>
                  <li><a href="https://github.com/abhaysaxenaa" style="font-weight: 500;">12 Additional Projects</a></li>
                </ul>
              </nav>
        </div>
    </div>
</section>