<section class="hero is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> My Projects.</h1><hr>
            <br>
            <div class="columns">
                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/voice1.jpg" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Voice Assistant</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Python, Selenium, pyttsx3, API's ==> <a href="https://github.com/abhaysaxenaa?tab=repositories">Github</a></h2>
                            <br>
                            <h4>Created a powerful <strong>Voice Assistant</strong> that provides assistance over a variety of tasks, such as sleep analysis, personal event management, intelligent machine-learning decisions, forecasting weather.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/budget.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Budget Tracker</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Angular, Javascript, HTML5, CSS, Bulma  ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Created an elegant web app called the <strong>'Budget Tracker'</strong>, that calculates the total budget, modelled around the user's revenue and expenses.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/cache.jpg" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Cache Simulator</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>C, Linux ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Simulated a prefetch cache and a non-prefetch cache in C, which can handle up to 13,000+ lines of cache control instructions.
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/digiwallet.jpg" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Digital Wallet</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Javascript, Node.js, Express, Bulma ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Built a <strong>REST API</strong> that stores personal data on a private server, serving up-to-date financial data from external vendors (Alpha Vantage API), consolidated in an elegant web-app.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/SongLibrary.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Song Library</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Java, XML, JavaFX ==> Github <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Built a <strong>Song Library</strong> application using JavaFX, modelled around the 'MVC' Design Pattern. Embedded an interactive UI, the application can store data (using serialization), edit and delete songs as per the user’s preference.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/ml1.jpg" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>One-Shot Learning</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>C, Linux ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Implemented a <strong>Machine Learning</strong> algorithm, which calculates the price of a house based on multiple weighted attributes from a large dataset.
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/ttt3.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Tic-Tac-Toe</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Angular, Javascript, HTML5, CSS, Bulma ==> <a href="https://github.com/abhaysaxenaa/TicTacToe">Github</a></h2>
                            <br>
                            <h4>Built a simple <strong>Tic-Tac-Toe</strong> game compatible with devices such as laptops, mobiles, tablets, etc, which allows for a smooth and enjoyable gameplay while also respecting player interaction. Styled using the Nebular UI Library.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/PhotoLibrary.png" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>Photo Library App</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>Java, XML, JavaFX, SceneBuilder ==> Github <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Built a <strong>Photo Library</strong> application with an admin subsystem that manages a list of users. Allows each user to add albums with multiple photos, with captions and tags for each photo. The application allows the user to Search for photos by 'Caption' or by the 'Date' they were added. All the searched photos can be added to a new album altogether.
                            </h4>
                        </div>
                    </div>

                    <br><br>

                    <div class="card is-bold">
                        <div class="card-image">
                            <figure class="image">
                                <img src="../../assets/c.gif" width="300px">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr style="margin: 1.5px;"><h1>C Programming</h1><hr style="margin: 1.5px; padding-bottom: 9px;">
                            <h2>C, Linux ==> <a href="https://github.com/abhaysaxenaa/BudgetTracker">Github</a></h2>
                            <br>
                            <h4>Designed six algorithms for RLE String Compression, Matrix Exponentiation, Roman Numeral Conversion, Palindrome Checker, etc.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr><br>
            <h5>12 Additional Projects:</h5>
            <nav class="breadcrumb has-bullet-separator is-centered" aria-label="breadcrumbs">
                <ul>
                  <li><a href="https://github.com/abhaysaxenaa/Cache-Simulator" style="font-weight: 500;">Android Photo Library App</a></li>
                  <li><a href="https://github.com/abhaysaxenaa/ML-Price-Calculator" style="font-weight: 500;">Facebook Friends</a></li>
                  <li><a href="https://github.com/abhaysaxenaa" style="font-weight: 500;">Other Projects</a></li>
                </ul>
              </nav>
        </div>
    </div>
</section>